.button-base
  margin 0
  outline none
  appearance none
  font-size .7em
  padding 8px
  color $baseColorLevel5
  border 1px solid $baseColorLevel3
  background-color transparent
  border-bottom-width 3px
  &:hover,
  &.zeroclipboard-is-hover
    background-color $baseColorLevel3
  .octicon
    margin 0 .3em 0 0
