@charset "utf-8"

@import "nib"

normalize-css()

@import "_import/_vars"
@import "_import/_base"
@import "_import/_partials"

@import "_components/header"
@import "_components/notes"
@import "_components/note"
@import "_components/note-list"
@import "_components/setting"
@import "_components/modal"
@import "_components/select"
@import "../../node_modules/react-color-picker/style/index"

html, body, .container, .app, .notes-container
  height 100%
