.ReactModal__Body--open
  position fixed
  width 100%
  height 100%

.ReactModal__Overlay
  &.ReactModal__Overlay--after-open
    z-index 1024

.ReactModal__Content
  .close-modal-button
    appearance none
    margin 0
    outline none
    font-size 1.2em
    line-height 1
    padding 16px
    color $baseColorLevel2
    background none
    border 0
    position absolute
    right 0
    top 0
    z-index 1
    &:hover
      opacity .8
