.note-title-wrapper
  .note-title
    display inline-block
    cursor pointer
    .octicon
      margin 0 .5em
  .note-title-editor
    display none
  &.editing
    .note-title
      display none
    .note-title-editor
      display block

.note-textarea
  width 100%
  height 600px
  box-sizing border-box
