.note-list-container
  position absolute
  top 0
  left 0
  width 256px - 20px
  height 100%
  padding-top 20px
  box-sizing border-box
  z-index 1

.note-list-header
  position relative
  z-index 2

.note-list-link
  margin 8px 0
  ul
    margin 0
    padding 0
    list-style none
    overflow hidden
    border-top 1px solid $baseColorLevel3
    border-bottom 1px solid $baseColorLevel3
  li
    float left
    width 50%
    text-align center
    box-sizing border-box
    border-right 1px solid $baseColorLevel3
  a
    display block
    color inherit
    padding 8px 0
    &:hover
      background $baseColorLevel3

.note-list-select
  margin 8px 0

.note-list-controller
  margin 0 0 8px 8px
  padding-bottom 8px
  border-bottom 1px solid $baseColorLevel3
  &:last-child
    border-bottom 0
  button
    margin-right 8px

.note-list
  height 100%
  box-sizing border-box
  padding-top 216px
  position absolute
  width 100%
  top 0
  margin 0
  overflow hidden
  z-index 1

.note-list-inner
  border-top 3px solid $baseColorLevel3
  overflow auto
  height 100%

.note-item-container
  padding 8px
  border-bottom 1px solid $baseColorLevel3
  a
    color inherit
    text-decoration none
    display block
    padding 8px
    &:hover, &.active
      background $baseColorLevel4
      color $baseColorLevel2
  .note-item-button
    margin-top 8px
    text-align right

  .note-item-title
    font-size 1.2em
  .note-item-body
    font-size .8em
  .note-item-created-at
    text-align right
    font-size .8em
    margin-top 8px

.trashed-note-list-container
  .note-list
    padding-top: 116px;
