.Select
  position relative
  &.is-multi
    .Select-control
      padding 2px 52px 2px 3px
    .Select-input
      vertical-align middle
      border 1px solid transparent
      margin 2px
      padding 3px 0

.Select-control
  position relative
  overflow hidden
  background-color $baseColorLevel1
  border 1px solid $baseColorLevel3
  box-sizing border-box
  cursor default
  outline none
  padding 8px 52px 8px 10px
  transition all 200 ease
  &:not(.is-searchable) > .Select-input
    outline none

.Select-item
  background-color lighten($primaryColor, 90%)
  border 1px solid lighten($primaryColor, 80%)
  color $primaryColor
  display inline-block
  font-size 1em
  margin 2px

.Select-item-icon
  cursor pointer
  border-right 1px solid lighten($primaryColor, 80%)
  padding 2px 5px 4px

.Select-item-label
  cursor default
  padding 3px 5px

.Select-item-icon, .Select-item-label
  display inline-block
  vertical-align middle

.Select-input
  & > input
    cursor default
    background none transparent
    box-shadow none
    height auto
    border 0 none
    font-family inherit
    font-size inherit
    margin 0
    padding 0
    outline none
    display inline-block
    appearance none

.Select-clear
  cursor pointer
  display inline-block
  font-size 16px
  padding 6px 10px
  position absolute
  right 4px
  top 50%
  transform translateY(-50%)

.Select-menu-outer
  background-color $baseColorLevel1
  border 1px solid $baseColorLevel3
  box-sizing border-box
  margin-top -1px
  max-height 200px
  position absolute
  top 100%
  width 100%
  z-index 1000
  line-height 2.5
  overflow-scrolling touch

.Select-menu
  max-height 198px
  overflow-y auto

.Select-option
  box-sizing border-box
  cursor pointer
  display block
  padding 8px 10px

.Select-placeholder
  color $baseColorLevel3
  padding 8px 52px 8px 10px
  position absolute
  top 0
  left 0
  right -15px
  max-width 100%
  overflow hidden
  text-overflow ellipsis
  white-space nowrap

.setting-size-selector
  .Select-placeholder
    color $baseColorLevel5
