.setting-container
  position absolute
  top 0
  right 0
  z-index 1

.setting-open-button
  appearance none
  background $baseColorLevel5
  color $baseColorLevel2
  border 0
  outline none
  line-height 1
  padding 0 4px
  vertical-align top
  box-sizing border-box
  height 20px
  &:hover
    background $baseColorLevel2
    color $baseColorLevel5
  .octicon
    vertical-align middle
    font-size 14px

.setting-body
  color $baseColorLevel2
.setting-item
  margin 0 0 16px
  padding 0 0 16px
  border-bottom 1px solid $baseColorLevel3
.setting-item-title
  font-size 1.2em
  line-height 2
.setting-size-selector
  color $baseColorLevel5
.setting-reset-container
  text-align right

@media only screen and (max-width: 767px)
  .ReactModal__Content
    top 32px
    left 32px
    right 32px
    bottom 32px
    padding 2%
